# Variance Threshold

In [1]:
import pandas as pd

data=pd.DataFrame({
'age':[25,30,35,40,45],
'salary':[5000,6000, 7000, 8000, 9000],
'country_code': [1,1,1,1,1]})

In [2]:
data

   age  salary  country_code
0   25    5000             1
1   30    6000             1
2   35    7000             1
3   40    8000             1
4   45    9000             1

In [3]:
data.head()

   age  salary  country_code
0   25    5000             1
1   30    6000             1
2   35    7000             1
3   40    8000             1
4   45    9000             1

In [4]:
from sklearn.feature_selection import VarianceThreshold

selector = VarianceThreshold(threshold=0.1)
selector.fit_transform(data)

array([[  25, 5000],
       [  30, 6000],
       [  35, 7000],
       [  40, 8000],
       [  45, 9000]])

In [5]:
selected_features = data.columns[selector.get_support()]
print("Selected features:", selected_features)

Selected features: Index(['age', 'salary'], dtype='object')