# Chi - Square - Test

In [1]:
import pandas as pd

X = pd.DataFrame({
    'gender': ['M', 'F', 'M', 'F', 'M'],
    'age': [25, 30, 35, 40, 45],
    'married': ['Y', 'N', 'Y', 'N', 'Y'],
    'income': [50000, 60000, 55000, 65000, 70000]})

y = pd.Series([0, 1, 0, 1, 0])

In [2]:
X

  gender  age married  income
0      M   25       Y   50000
1      F   30       N   60000
2      M   35       Y   55000
3      F   40       N   65000
4      M   45       Y   70000

In [3]:
# Chi - Square Requries non-negative values

from sklearn.feature_selection import chi2
from sklearn.feature_selection import SelectKBest
from sklearn.preprocessing import MinMaxScaler
from sklearn.preprocessing import LabelEncoder

label = LabelEncoder()
X = X.apply(label.fit_transform)
scaler = MinMaxScaler()
X_scaled = scaler.fit_transform(X)

In [4]:
selector = SelectKBest(score_func=chi2, k=2)
X_new = selector.fit_transform(X_scaled, y)

In [5]:
selected_features = X.columns[selector.get_support()]
print("Selected Features:", selected_features)

Selected Features: Index(['gender', 'married'], dtype='object')